In [14]:
import tradingEnv as te

In [15]:
startingDate = '2012-1-1'
endingDate = '2020-1-1'
splitingDate = '2018-1-1'

In [16]:
myte = te.TradingEnv("AAPL", startingDate=startingDate, endingDate=endingDate, money=100_000)

In [17]:
myte.data

,Open,High,Low,Close,Volume,Position,Action,Holdings,Cash,Money,Returns
Timestamp,,,,,,,,,,,
2012-01-03,14.621429,14.732143,14.607143,12.519278,302220800.0,0,0,0.0,100000.0,100000.0,0.0
2012-01-04,14.642857,14.810000,14.617143,12.586557,260022000.0,0,0,0.0,100000.0,100000.0,0.0
2012-01-05,14.819643,14.948214,14.738214,12.726294,271269600.0,0,0,0.0,100000.0,100000.0,0.0
2012-01-06,14.991786,15.098214,14.972143,12.859333,318292800.0,0,0,0.0,100000.0,100000.0,0.0
2012-01-09,15.196429,15.276786,15.048214,12.838937,394024400.0,0,0,0.0,100000.0,100000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2019-12-24,71.172501,71.222504,70.730003,69.623222,48478800.0,0,0,0.0,100000.0,100000.0,0.0
2019-12-26,71.205002,72.495003,71.175003,71.004578,93121200.0,0,0,0.0,100000.0,100000.0,0.0
2019-12-27,72.779999,73.492500,72.029999,70.977638,146266000.0,0,0,0.0,100000.0,100000.0,0.0
2019-12-30,72.364998,73.172501,71.305000,71.398903,144114400.0,0,0,0.0,100000.0,100000.0,0.0
2019-12-31,72.482498,73.419998,72.379997,71.920578,100805600.0,0,0,0.0,100000.0,100000.0,0.0

In [21]:
myte.step(1)

([[12.838936805725098,
   12.884904861450195,
   12.863899230957031,
   12.828583717346191,
   12.78048324584961,
   12.929353713989258,
   13.06360912322998,
   13.022207260131836,
   12.795402526855469,
   13.011856079101562,
   12.798748016357422,
   13.597893714904783,
   13.536090850830078,
   13.6167631149292,
   13.791207313537598,
   13.896846771240234,
   13.888020515441896,
   13.855446815490724,
   13.994266510009766,
   14.124868392944336,
   14.272821426391602,
   14.511810302734377,
   15.01382064819336,
   15.021428108215332,
   15.300896644592283,
   15.509746551513672,
   15.15081787109375,
   15.289027214050291,
   15.286280632019045,
   15.673831939697266],
  [15.048213958740234,
   15.053570747375488,
   14.975357055664062,
   14.95535659790039,
   14.952142715454102,
   15.105713844299316,
   15.225000381469728,
   15.232500076293944,
   14.991070747375488,
   15.08214282989502,
   14.983928680419922,
   15.84749984741211,
   15.82642936706543,
   15.848929405212402,
   15.90678596496582,
   16.18107032775879,
   16.269643783569336,
   16.213571548461914,
   16.270000457763672,
   16.364286422729492,
   16.59214210510254,
   16.774999618530273,
   17.162857055664062,
   17.448213577270508,
   17.75321388244629,
   17.928571701049805,
   17.746070861816406,
   17.379642486572266,
   17.867856979370117,
   18.00428581237793],
  [15.276785850524902,
   15.214285850524902,
   15.10178565979004,
   15.103570938110352,
   15.016071319580078,
   15.213929176330566,
   15.338213920593262,
   15.406070709228516,
   15.26785659790039,
   15.301786422729492,
   15.182143211364746,
   16.230356216430664,
   16.028213500976562,
   16.01714324951172,
   16.21071434020996,
   16.365713119506836,
   16.392499923706055,
   16.327499389648438,
   16.428571701049805,
   16.606428146362305,
   16.77678680419922,
   17.028213500976562,
   17.741071701049805,
   17.77214241027832,
   17.993928909301758,
   18.198570251464844,
   18.796070098876957,
   18.03178596496582,
   18.1346435546875,
   18.387500762939453],
  [394024400.0,
   258196400.0,
   215084800.0,
   212587200.0,
   226021600.0,
   242897200.0,
   276791200.0,
   261738400.0,
   413974400.0,
   306062400.0,
   547638000.0,
   958314000.0,
   323985200.0,
   299709200.0,
   379341200.0,
   391683600.0,
   270046000.0,
   186796400.0,
   286599600.0,
   249412800.0,
   316223600.0,
   407890000.0,
   884214800.0,
   631302000.0,
   517216000.0,
   460398400.0,
   1506120000.0,
   944552000.0,
   535805200.0,
   605595200.0],
  [1]],
 0.025351728111207228,
 0,
 {'State': [[12.838936805725098,
    12.884904861450195,
    12.863899230957031,
    12.828583717346191,
    12.78048324584961,
    12.929353713989258,
    13.06360912322998,
    13.022207260131836,
    12.795402526855469,
    13.011856079101562,
    12.798748016357422,
    13.597893714904783,
    13.536090850830078,
    13.6167631149292,
    13.791207313537598,
    13.896846771240234,
    13.888020515441896,
    13.855446815490724,
    13.994266510009766,
    14.124868392944336,
    14.272821426391602,
    14.511810302734377,
    15.01382064819336,
    15.021428108215332,
    15.300896644592283,
    15.509746551513672,
    15.15081787109375,
    15.289027214050291,
    15.286280632019045,
    15.673831939697266],
   [15.048213958740234,
    15.053570747375488,
    14.975357055664062,
    14.95535659790039,
    14.952142715454102,
    15.105713844299316,
    15.225000381469728,
    15.232500076293944,
    14.991070747375488,
    15.08214282989502,
    14.983928680419922,
    15.84749984741211,
    15.82642936706543,
    15.848929405212402,
    15.90678596496582,
    16.18107032775879,
    16.269643783569336,
    16.213571548461914,
    16.270000457763672,
    16.364286422729492,
    16.59214210510254,
    16.774999618530273,
    17.162857055664062,
    17.448213577270508,
    17.75321388244629,
    17.928571701049805,
    17.746070861816406,
    17.379642486572266,
    17.867856979370117,
    18.00428581237793],
   [15.276785850524902,
    15.214285850524902,
    15.10178565979004,
    15.103570938110352,
    15.016071319580078,
    15.213929176330566,
    15.338213920593262,
    15.406070709228516,
    15.26785659790039,
    15.301786422729492,
    15.182143211364746,
    16.230356216430664,
    16.028213500976562,
    16.01714324951172,
    16.21071434020996,
    16.365713119506836,
    16.392499923706055,
    16.327499389648438,
    16.428571701049805,
    16.606428146362305,
    16.77678680419922,
    17.028213500976562,
    17.741071701049805,
    17.77214241027832,
    17.993928909301758,
    18.198570251464844,
    18.796070098876957,
    18.03178596496582,
    18.1346435546875,
    18.387500762939453],
   [394024400.0,
    258196400.0,
    215084800.0,
    212587200.0,
    226021600.0,
    242897200.0,
    276791200.0,
    261738400.0,
    413974400.0,
    306062400.0,
    547638000.0,
    958314000.0,
    323985200.0,
    299709200.0,
    379341200.0,
    391683600.0,
    270046000.0,
    186796400.0,
    286599600.0,
    249412800.0,
    316223600.0,
    407890000.0,
    884214800.0,
    631302000.0,
    517216000.0,
    460398400.0,
    1506120000.0,
    944552000.0,
    535805200.0,
    605595200.0],
   [-1]],
  'Reward': 0.025351728111207228,
  'Done': 0})

In [22]:
myte.data.head()

,Open,High,Low,Close,Volume,Position,Action,Holdings,Cash,Money,Returns
Timestamp,,,,,,,,,,,
2012-01-03,14.621429,14.732143,14.607143,12.519278,302220800.0,0,0,0.0,100000.0,100000.0,0.0
2012-01-04,14.642857,14.810000,14.617143,12.586557,260022000.0,0,0,0.0,100000.0,100000.0,0.0
2012-01-05,14.819643,14.948214,14.738214,12.726294,271269600.0,0,0,0.0,100000.0,100000.0,0.0
2012-01-06,14.991786,15.098214,14.972143,12.859333,318292800.0,0,0,0.0,100000.0,100000.0,0.0
2012-01-09,15.196429,15.276786,15.048214,12.838937,394024400.0,0,0,0.0,100000.0,100000.0,0.0